In [10]:
#Importing Data
path = 'path'
df = pd.read_csv(path)

#Saving Data
df.to_csv('new file name')
df.to_excel('new file name')

#read_csv arguments
(file, sep='\t', comment='#', na_values='NaN', nrows = 5, header = None, parse_dates=[[column indexs]], 
 names = 'variable holding column names', index_col='column to name as index')

#another way to handle NaN na_values={'column name' : ['row value']}

SyntaxError: invalid syntax (<ipython-input-10-453ceb0240e0>, line 10)

In [1]:
#Creating a DataFrame from lists
#Create a list of lists via Zip, convert to dict, convert to df
import pandas as pd

cities = ['Miami', 'Coral Gables', 'Brickell', 'Coco Plum']
bars = [5, 7, 2, 3]
theaters = [10, 1, 2, 0]

list_labels = ['City', 'Bars', 'Movies']
list_cols = [cities, bars, theaters]

zipped = list(zip(list_labels, list_cols))
data_in_dict = dict(zipped)
print(data_in_dict)

data_in_frame = pd.DataFrame(data_in_dict)
print(data_in_frame)

{'City': ['Miami', 'Coral Gables', 'Brickell', 'Coco Plum'], 'Bars': [5, 7, 2, 3], 'Movies': [10, 1, 2, 0]}
           City  Bars  Movies
0         Miami     5      10
1  Coral Gables     7       1
2      Brickell     2       2
3     Coco Plum     3       0

In [3]:
#Creating a DataFrame from dictionaries
world_dict = {
             'Country':['Italy','Spain', 'Norway', 'Belgium', 'Iceland', 'Finland'],
             'Capital':['Rome','Madrid','Oslo','Brussels','Reykjavik','Helsinki'],
             'Population':[15,11,9,7,8,3]}

#Convert dict to dataframe
world = print(pd.DataFrame(world_dict))

     Capital  Country  Population
0       Rome    Italy          15
1     Madrid    Spain          11
2       Oslo   Norway           9
3   Brussels  Belgium           7
4  Reykjavik  Iceland           8
5   Helsinki  Finland           3

In [ ]:
#Creating a dataframe from another dataframe
new_df = pd.DataFrame(old_df[['col', 'col', 'col']])

In [ ]:
#Selecting a specific column
world['Capital'] #Series
world[['Capital']] #DataFrame
#Selecting specific rows
world[0:4]
#Pulling both
df['Column']['Row']
df.column['Row']

#Deleting Columns and Rows
del df['Column']
df.replace(0, np.nan, inplace=True)
df.drop() #drop rows...axis=0, drop columns...axis=1

#delete row by condition
df = df.drop(df[df.column <= 0].index)

#Using loc and iloc
world.loc['Row', 'Column'] #With labels endpoint of slicing is inclusive
world.loc['Row':'Row5': -1] #will return rows in reserve order
world.iloc[[0,1,2], [0,2]] #With nonlabels endpoint of slicing is exclusive

#Counting Occurences
np.unique(df[0]) #prints every unique value 
pd.value_counts(df[0]) #prints counts of every unique value
df[0].isin(['?']).sum() #prints sum specific values

#Filtering 
indices = df['column'] == 'particular column value'
variable = df.loc[indices, :]
indices.unique() #check that filtering worked

#Filtering using Boolean
variable = df.column > 70
df[(df.col >= 50) & (df.col < 200)]
df[(df.col >= 50) | (df.col < 200)]

#Grouping...must be followed by math expression
group = data.groupby('Column').mean()

#Sorting
group = group.sort_values('Life_expectancy', axis=0)

In [ ]:
#Transforming DataFrames
df.function() #Applied to whole DataFrame

#Transforming DataFrames with NumPy
np.function(df, para)

#Transforming DataFrames with plain functions
df.apply(func_name_or_lambda)
df.column.function_or_apply(para)

In [ ]:
#Plotting in Matplotlib using pandas series as a numpy array
variable = df['column'].values
plt.plot(variable) #yields np array
plt.show()

#Plotting in Matplotlib using pandas series directly
variable = df['columm']
plt.plot(variable)
plt.show()
#On DataFrame
plt.plot(df)
plt.show()

#Plotting in pandas series/dataframe method .plot()
#On series
variable = df['columm']
variable.plot()
plt.show()
#On DataFrame
df.plot()
plt.show()

#Saving Plots: splice then save
df.loc['row':'row', ['column', 'column']].plot()
plt.savefig('name.png')

#Style argument
#color + marker, line
#Color: b, g, r, k
#Marker: o, *, s, +
#Line: -, ' '

In [ ]:
#Subplots
df[cols].plot(kind='box', subplots=True)

# This formats the two plots to appear on separate rows
fig, axes = plt.subplots(nrows=2, ncols=1)

# Plot the PDF
df.fraction.plot(ax=axes[0], kind='hist', bins=30, normed=True, range=(0,.3))
plt.show()

# Plot the CDF
df.fraction.plot(ax=axes[1], kind='hist', bins=30, normed=True, cumulative=True, range=(0,.3))
plt.show()

In [ ]:
#datetime objects
pd.read_csv(filename, parse_dates=['Date'])
pd.read_csv(parse_date=True) #ISO 8601 yyyy-mm-dd hh:mm:ss

#converting strings to datetime
pd.to_datetime(date_list, format='%Y-%m-%d %H:%M')

#selecting single datetime
df.loc['yyyy-mm-dd hh:mm:ss', 'column']

#selecting a whole day
df.loc['yyyy-mm-dd']

#Panda supports partial selecting
df.loc['yyyy-mm']

#slicing
df.loc['yyyy-mm-dd' :'yyyy-mm-dd']


# Prepare a format string: time_format
time_format = '%Y-%m-%d %H:%M'

#reindexing (combinding dataframes) and handleing NaN values
ts2.reindex(ts1.index, method='ffill or bfill') 

#resample and stats
df.resample.('D').mean() #Downscaling and upscaling #A, M, W, D, H, M...Q, B
df.resample.('2D', on='col').mean() #every two days
df['column'].rolling(window=24).mean() #window is determined by the spacing of the data representation

In [ ]:
#datetime methods dt.xxxx
df['column'].dt.hour

#set timezone
og_tz = df['column'].dt.tz_localize('US/Central')

#convert timezone
new_tz = df['column'].dt.tz_convert('US/Eastern')

In [ ]:
#interpolate missing data
df.resample('A').first().interpolate('linear')

In [ ]:
#Mapping
red_vs_blue = {'Obama':'blue', 'Romney':'red'}
election['color'] = election['winner'].map(red_vs_blue)

In [53]:
#Hierarchical Indexing
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(12,3))
cols = ['Close', 'Volume', 'Symbol']
df.columns = cols

symbols = ['AAPL', 'CSCO', 'MSFT', 'AAPL', 'CSCO', 'MSFT', 'AAPL', 'CSCO', 'MSFT', 'AAPL', 'CSCO', 'MSFT']
df.Symbol = symbols

dates = ['2018-01-01', '2018-01-01', '2018-01-01','2018-01-02', '2018-01-02', '2018-01-02','2018-01-03', '2018-01-03', '2018-01-03','2018-01-04', '2018-01-04','2018-01-04']
dt_dates = pd.to_datetime(dates, format='%Y-%m-%d')
df['Dates'] = dt_dates

#Sets Hierarchical Index
new_df = df.set_index(['Dates', 'Symbol'])
new_df.sort_index()
print(new_df)

#Swapping indices
new_df.swaplevel(0,1)
new_df.swaplevel(0,1)

#Pulling out rows
new_df.loc['2018-01-02']
new_df.loc['2018-01-02':'2018-01-04']
new_df.loc[('2018-01-02','AAPL'),]
new_df.loc[(['2018-01-02','2018-01-04'], 'AAPL'), :]
new_df.loc[(['2018-01-02','2018-01-04'], ['AAPL', 'MSFT']), :]

#Pulling out rows and columns
new_df.loc[('2018-01-02','AAPL'),'Volume']
new_df.loc[['2018-01-02','2018-01-04'],'Volume'] #notice the two brackets need for mutiple rows from same index
new_df.loc['2018-01-02':'2018-01-04', 'Volume']

#Inner Index doesnt understand ':' for slicing...must use slice()
new_df.loc[(slice(None), slice('AAPL')), :]
new_df.loc[(slice('2018-01-02','2018-01-04'), slice('AAPL', 'MSFT')), :]

#Stacking
df.stack(level='row to index')
df.unstack(level='index to row')

                      Close    Volume
Dates      Symbol
2018-01-01 AAPL    1.308764 -0.732762
           CSCO    0.160905  0.362482
           MSFT   -0.578510  0.173913
2018-01-02 AAPL    1.116136  0.027005
           CSCO   -0.327893  0.698949
           MSFT    0.817033 -0.813039
2018-01-03 AAPL   -1.345341 -0.846043
           CSCO   -0.650479  0.420320
           MSFT    0.327611  0.996306
2018-01-04 AAPL   -2.767615  0.098355
           CSCO    1.454784 -0.810826
           MSFT   -0.382837 -1.872787

                      Close    Volume
Dates      Symbol
2018-01-02 AAPL    1.116136  0.027005
           CSCO   -0.327893  0.698949
           MSFT    0.817033 -0.813039
2018-01-03 AAPL   -1.345341 -0.846043
           CSCO   -0.650479  0.420320
           MSFT    0.327611  0.996306
2018-01-04 AAPL   -2.767615  0.098355
           CSCO    1.454784 -0.810826
           MSFT   -0.382837 -1.872787