In [ ]:
#Connecting to a database
from sqlalchemy import engine, MetaData, Table

#connect
engine = create_engine('path_to_db')
connection = engine.connect()

#view avaliable tables
print(engine.table_names())

#view specific table
metadata = MetaData()
some_table = Table('some_table_in_db', metadata, autoload=True, autoload_with=engine) 
print(repr(some_table))

#query using SQL
stmt = SELECT * FROM some_table
results_proxy = connection.execute(stmt)
results = results_proxy.fetchall()
#query using Pythonic idiom
stmt = select([come_table]) #must be represented as a list
results = connection.execute(stmt).fetchall()

#Looping over ResultsProxy to get data
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

#Providing format for a Loop
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))
    
# Set column names after inporting to df
df.columns = results[0].keys()

In [ ]:
#Creating databases
from sqlalchemy import Table, Column, String, Integer, Float, Boolean, insert

# Define a new table with column_name: data_type()
data = Table('data_table_name', metadata,
              Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table details
print(repr(data))

In [ ]:
#Inserting Data
#Inserting one row
stmt = insert(data_table).values(id=1, col_name='Jason', col_salary=75000, col_active=True)
result_proxy = connection.execute(stmt)

#Inserting multiple rows via list of dictionaries
stmt = insert(data_table)

values_list =[
    {id:1, name:'Jason', salary:75000, active:True},
    {id:2, name:'Peter', salary:75000, active:False},
    {id:3, name:'Allan', salary:75000, active:True}
]

result_proxy = connection.execute(stmt, values_list)

In [ ]:
#Inserting data from a CSV file
stmt = insert(some_table)

# Create an empty list
values_list = []

#Loop
for idx, row in enumerate(csv_reader): #csv_reader module is needed?
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3], 'pop2008': row[4]}
    values_list.append(data)

results = connection.execute(stmt, values_list)
print(results.rowcount)

In [ ]:
#Updating data in a database
from sqlalchemy import update

stmt = update(some_table)
stmt = stmt.where(some_table.columns.id == 3)
stmt = stmt.values(salary=60000, active=True)
result_proxy = connection.execute(stmt)
print(result_proxy.rowcount)

#Correlated Updates
#You can also update records with data from a select statement. 
#This is called a correlated update. It works by defining a select statement 
#that returns the value you want to update the record with and assigning that as the value in an update statement.

fips_stmt = select([state_fact.columns.name])

# Append a where clause to Match the fips_state to flat_census fips_code
fips_stmt = fips_stmt.where(
    state_fact.columns.fips_state == flat_census.columns.fips_code)

# Build an update statement to set the name to fips_stmt: update_stmt
update_stmt = update(flat_census).values(state_name=fips_stmt)

# Execute update_stmt: results
results = connection.execute(update_stmt)

In [ ]:
#Deleting all records
from sqlalchemy import select, delete

stmt = delete(census)
results = connection.execute(stmt)

#Deleting specific records
stmt_del = delete(employees).where(employees.columns.id == 3)
results = connection.execute(stmt_del)

#Deleting the whole table
state_fact.drop(engine)
print(state_fact.exists(engine))

# Drop all tables
metadata.drop_all(engine)
print(census.exists(engine))

In [ ]:
#Filtering
.where()
.in_()
.like()
.between()
.startswith()

#Conjunctions
.and_()
.not_()
.or_()

#Ordering
.order_by(table.columns.column)
.order_by(table.columns.column1, table.columns.column2)
.order_by(desc(table.columns.column))

In [ ]:
#advance SQLalchemy queries
#case(condition, column to return)
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

#cast (value to be converted, type of conversion)
cast(func.sum(census.columns.pop2000), Float)

#SQL Relationships
#DB with predifined relationships
stmt = select([func.sum(census.columns.pop2000)])
stmt = select_from(census.join(state_fact))
stmt = stmt.where(state_fact.circut_court == '10')
result = connecton.execute(stmt).scalar()

#DB without predifined relationships
stmt = select([func.sum(census.columns.pop2000)])
stmt = select_from(census.join(state_fact, census.columns.state == state_fact.columns.name))

In [ ]:
#Working with hierarchial tables..requires alias
managers = employees.alias #same tables, one alias

stmt = select([managers.columns.names.label('manager'),
              employees.columns.names.label('employee')])

stmt = stmt.select_from(employees.join(managers, managers.columns.names == employees.columns.names))

stmt = stmt.order_by(managers.columns.name)

In [ ]:
#Counting, Summing and Grouping Data
stmt = select([func.count(census.columns.state)])
value = connection.execute(stmt).scalar() #add .scalar to retrieve value of func

#appending methods
stmt = select([func.count(census.columns.state.distinct())])

#changing the name of column
pop2008_sum = func.sum(census.columns.pop2008).label('population')

In [ ]:
#Dealing with large sets
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

In [ ]:
#connecting to postgres
#4 components [the dialect and driver] ('postgresql+psycopg2://')
#[username and password] ('student:datacamp')
#[host and port] ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'), 
#the database name ('census')

engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')