In [1]:
import numpy as np
import pandas as pd
# from <package> import <func>

# Some Built In Functions

# Math
abs(-23) #Absolute value
len('Peter') #counts total elements
count() #counts number of rows
max([1, 2, 3])
min([4, 5, 6])
pow(5, 2)
divmod(8,5)
round(5.32)
sum([1,2,3])

# Type Conversion
bool()
int()
str()
float()
complex()

# Iterables and Iterators
all()
any()
enumerate()
iter()
next()
reversed()

len()
filter()
sorted()
map()

range()
slice()
zip()

# Composite Date Types
tuple()
list()
dict()
set()
object()

# Input / Output
print()
open()
input()
format()

'-'.join(var)

Mutable objects:
list, dict, set, byte array

Immutable objects:
int, float, complex, string, tuple, frozen set [note: immutable version of set], bytes, range, bool, decimal

# Magic Methods

__init__
__str__ #Changes the print function
__int__
__float__
__add__ #Changes how two things get added
__radd__ #Reflective addition
__iadd__ #inplace addition
__new__ #Class methods

# Variables

In [14]:
# Integer values between (-5, 256) always referenced the same object, Python preloads these values for optimization purposes
a = 4
b = 232
print(id(a))

print(id(b)) #Both variables reference the same objects

4512884224
4512891520

In [15]:
# python doesnt use any reserved keywords for declaring variables. Simply declare them.
# Each reassignment creates an additional independent variable in memory.
alpha = 10
print(id(alpha))

alpha = 20
print(id(alpha))
print(alpha)

4512884416
4512884736
20

In [17]:
# Declaring multiple variables
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [11]:
# Chained assingments always reference the same object
a = b = c = 300
print(id(a))
print(id(b))
print(id(c))

140418226970128
140418226970128
140418226970128

# Tuples

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

Immutable, but mutable members of the tuples can be updated.
Tuples are created by the commas between then not the parenthesis.

In [21]:
# Creating
tuple = 'Pirates', 'Rum'
type(tuple)

#Accessing elements
print(tuple[0])
print(tuple[1])

Pirates
Rum

In [22]:
#Tuples are immutable...will display errors
tuple[0] = 'Capt. Jack Sparrow'

TypeError: 'tuple' object does not support item assignment

In [27]:
#Mutable elements can be updated
list1 = ['Whiskey', 'Beer', 'Wine']
list2 = ['Professor Plum', 'Mr.Green']
list3 = [1, 2, 3, 4]

anotherTuple = (list1, list2, list3)
list1.append('Scotch')
anotherTuple

(['Whiskey', 'Beer', 'Wine', 'Scotch'],
 ['Professor Plum', 'Mr.Green'],
 [1, 2, 3, 4])

In [28]:
#Tuple swapping...unpacking tuples
a, b = 1, 5 #print(1, 5)
a, b = b, a
a, b #prints (5, 1)

(5, 1)

# Dictionaries

Dicts are not sorted and cannot be indexed

In [33]:
#Creating
world = {
    'Italy':'Rome', 
    'Spain': 'Madrid', 
    'Norway': 'Oslo', 
    'Iceland':'Reykjavik'
}

#Adding values
world['Greenland'] = 'Nuuk'

#Adding multiple values at a time
world.update({"anotherTown":"anotherCapital", "someTown":"someCapital"})

# Accessing values
print(world['Spain'])

#Deleting values
del(world['Iceland'])
world.pop('someTown') 
world.clear #Empties entire dict

Madrid

In [1]:
#Packing...another way to create a dict
def packer(name=None, **kwargs): #it will catch 'name' and not including in the packing process
    print(kwargs)                #**kwargs must always be the final parameter
    
packer(name='Peter',gender='male', age=28)

#Unpacking
my_dict = {'first_name':'Peter', 'last_name':'Correa'}

"My name is {first_name} {last_name}".format(**my_dict)

{'gender': 'male', 'age': 28}

'My name is Peter Correa'

In [34]:
#Iteration
my_dict = {'Conductor':'Sir Simon Rattel', 'Composition':'Symphony in D minor', 'Composer':'G. Mahler'}

for k in my_dict:
    print(k + ': ' + my_dict[k])
    
#more pythonic
for k in my_dict.items():
    print(k)

Conductor: Sir Simon Rattel
Composition: Symphony in D minor
Composer: G. Mahler
('Conductor', 'Sir Simon Rattel')
('Composition', 'Symphony in D minor')
('Composer', 'G. Mahler')

# Lists

In [2]:
#Creating
toDoList = ["Wash Car", "Walk Dog", "Visit Tristan da Cunha"]

#Appending
toDoList.append('Read a Novel')

#Add elements from one list to another
otherList = ['Visit the Moon', 'Feed Snake', 'Walk Dog']
toDoList.extend(otherList)

#Concat
otherList = ['Visit the Moon', 'Feed Snake', 'Walk Dog']
together = toDoList + otherList

#Finding index of element
snake_position = toDoList.index('Feed Snake')

#Deleting values
toDoList.pop(snake_position) #takes index
toDoList.remove('Walk Dog') #deletes first occurance 
del(toDoList[2]) 

#Slicing [start:exclusive_end:skips]
someList = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
someList[0:3] #last selection is exclusive
someList[0:8:2] #skips
someList[-7:-1] #negative indexing...-1 is the second to last element from the right
someList[-2:-8:-1] #-1 allows to print right to left (-2 to -8)

#Length
len(toDoList)

['Wash Car', 'Walk Dog', 'Visit Tristan da Cunha', 'Read a Novel']
['Wash Car', 'Walk Dog', 'Visit Tristan da Cunha', 'Read a Novel', 'Visit the Moon', 'Feed Snake', 'Walk Dog']
5
['Wash Car', 'Visit Tristan da Cunha', 'Visit the Moon', 'Walk Dog']

['a', '7', 'x', '9', 'e']

In [21]:
#Lists are Reference Type
toDoList = ["Wash Car", "Walk Dog", "Visit Tristan da Cunha"]

toDoList2 = toDoList
toDoList2[2] = "Learn Swing Dancing"

print(toDoList) #original is changed
print(id(toDoList)) # Same ID
print(id(toDoList2))

['Wash Car', 'Walk Dog', 'Learn Swing Dancing']
140595349204488
140595349204488

In [24]:
#Copy Lists
toDoList = ["Wash Car", "Walk Dog", "Visit Tristan da Cunha"]

toDoList2 = toDoList.copy() #copies
toDoList2[2] = "Learn Swing Dancing"

print(toDoList)
print(toDoList2)
print(id(toDoList))
print(id(toDoList2))

['Wash Car', 'Walk Dog', 'Visit Tristan da Cunha']
['Wash Car', 'Walk Dog', 'Learn Swing Dancing']
140595349645000
140595349204616

In [27]:
#Looping
for i in toDoList:
    print(i)

Wash Car
Walk Dog
Visit Tristan da Cunha

In [31]:
# Checking for values
if "Wash Car" in toDoList:
        print("yes")

yes

# Sets

In [47]:
# No indexing, no order, iterable

set_of_nums = set([1,2,3,4,5,6,7,8,9,0])
set_of_primes = set([1, 3, 5, 7, 9, 11, 13, 17,19])

union = set_of_nums.union(set_of_primes) #All items
diff = set_of_nums.difference(set_of_primes) #Unique to the first set
sym_diff = set_of_nums.symmetric_difference(set_of_primes) #unique to eachside
intersect = set_of_nums.intersection(set_of_primes) #Shared values

# Logic and Control Flow

In [50]:
#If, Elif, Else...indentation matters in Python
n=10

if n % 2 == 0:
    print("This is divisible by 2")
    
elif  n % 5:
    print("This is divisible by 5")
        
else:
    print("This is not divisible by 2 nor 5")

This is divisible by 2

In [69]:
#Ternary conditional
# condition_if_true if condition else condition_if_false
a = '.'
'dot' if a == '.' else 'dash'

'dot'

In [ ]:
#While Loops
error = 50

while error > 4:
    error = error / 2
    print(error)

In [ ]:
#For loops
to_turn_into_even = [1,3,5,7,9]

for var in to_turn_into_even:
    var = var * 2
    print(var)

In [ ]:
#Enumerated Loops
to_turn_into_even = [1,3,5,7,9]

for index, var in enumerate(to_turn_into_even):
    var = var * 2
    print("Located at index ", index, "is", var)

In [ ]:
#Loops through Dictionaries...must add .items() method
world_dict = {
             'Country':['Italy','Spain', 'Norway', 'Belgium', 'Iceland', 'Finland'],
             'Capital':['Rome','Madrid','Oslo','Brussels','Reykjavik','Helsinki'],
             'Population':[15,11,9,7,8,3]}

for key, value in world_dict.items(): 
    print(key, value)

In [ ]:
#Loops through Data Structures 
world_dict = {
             'Country':['Italy','Spain', 'Norway', 'Belgium', 'Iceland', 'Finland'],
             'Capital':['Rome','Madrid','Oslo','Brussels','Reykjavik','Helsinki'],
             'Population':[15,11,9,7,8,3]}

world = pd.DataFrame(world_dict)
world.index = ['It', 'Sp', 'Nw', 'Bg', 'Il', 'Fl']

for values in world:
    print(values)

In [63]:
#Looping through a list of tuples
list_of_tuples = [(2,2),(3,3),(4,4)]

new_list = [tup[0]*tup[1] for tup in list_of_tuples]
print(new_list)

[4, 9, 16]

In [64]:
#Looping through Numpy arrays
np_base = np.array([2,4,6,8])
np_power = np.array([2,2,2,2])
new_num = np_base * np_power

for value in new_num:
    print(value)

4
8
12
16

In [65]:
#Looping through Numpy arrays
np_base = np.array([2,4,6,8])
np_power = np.array([2.0,2.1,2.2,2.3])
new_num = np.array([np_base, np_power])

for value in new_num:
    print(value)

[2. 4. 6. 8.]
[2.  2.1 2.2 2.3]

In [66]:
np_base = np.array([2,4,6,8])
np_power = np.array([2.0,2.1,2.2,2.3])
new_num = np.array([np_base, np_power])
print(new_num)
for value in np.nditer(new_num):
    print(value)

[[2.  4.  6.  8. ]
 [2.  2.1 2.2 2.3]]
2.0
4.0
6.0
8.0
2.0
2.1
2.2
2.3

# Functions

In [71]:
def square(value): 
    """This function will square any number"""
    new_value = value ** 2
    print(new_value)
    
?square

Signature: square(value)
Docstring: This function will square any number
File:      ~/Notebooks/Basics/<ipython-input-71-c942ec27e683>
Type:      function

In [72]:
def raised_to_power(num1, num2):
    """This function takes two parameters; a base, and the power."""
    new_value = num1 ** num2
    print(new_value)
    
raised_to_power(4,2)

16

In [74]:
#Returning mutiple values
def raise_both(val1, val2):
    '''This will return each argument raised by the other'''
    num1 = val1 ** val2
    num2 = val2 ** val1
    
    new_tuple = (num1, num2)
    
    print(new_tuple)
    
raise_both(4,3)

(64, 81)

In [75]:
#Default values for arguments
#You can still a specific value in place of the default, but when spcification is absent
#Python will utilize the default

def power_in_tens(value, power=10):
    new_value = value ** power
    print(new_value)
    
power_in_tens(2)
power_in_tens(2, 2)

1024
4

In [ ]:
#Flexible arguments
def sum_all(*args): #Allows you to take in an undefined amount of variables 
    
    #Initialize a zero value
    sum_all = 0
    
    #Loop through the arguments
    for values in args:
        sum_all += values
    print(sum_all)
    
sum_all(1,2,3)
sum_all(1,2,3,4,5)

In [ ]:
#Keyword Arguments
def print_all(**kwargs): #same as *args but with keyworded variables
    for key, value in kwargs.items():
        print(key + ": " + value)

print_all(name = "Peter Correa", instrument = "Saxophone")

In [ ]:
#Lambda Functions
#quick way to write functions

raise_to_power = lambda x,y : x**y
raise_to_power(2,4)

In [67]:
#map function
#Two parameters; a function and a sequence 

seq = [2,4,6,8]
square_all = map(lambda num : num ** 2, seq)
list(square_all)

[4, 16, 36, 64]

# Error Handling

In [78]:
#Error handling

def triple_power(*arg):
    try:
        for value in arg:
            new_value = value ** 3
            return new_value
    except:
        print('Must be a number')
        
print(triple_power(3))
print(triple_power('Peter'))

27
Must be a number
None

In [ ]:
#Error handling with certain types of errors
def triple_power(*arg):
    try:
        for value in arg:
            new_value = value ** 3
            return new_value
    except TypeError:
        print('Must be a number')
        

print(triple_power('Peter'))

In [ ]:
#Raising Errors
def sqrt(x):
    if x < 0:
        raise ValueError('value must be a positive number')
    try:
        return x ** 0.5
    except:
        print('x must by int or float')
        
sqrt(25)
sqrt(-25)

# Iterables and Iterators

In [ ]:
#Iterables and Iterators
word = iter("PETERCORREA") #becomes an Iterator
next(word)
next(word) #Iterates through the iterable

In [ ]:
#* 
word = iter("PETERCORREA") #becomes an Iterator
print(*word)

In [ ]:
#Enumerate
heros = ['Batman', 'Superman', 'Flash', 'Rorschach']
names = ['Justin', 'Bryan', 'Eric', 'Pedro']

h = enumerate(heros)
list(h)

In [ ]:
#Enumerate Unpack
for index, value in enumerate(heros):
    print(index, value)

In [54]:
#Zip...similar to colum stack
heros = ['Batman', 'Superman', 'Flash', 'Rorschach']
names = ['Justin', 'Bryan', 'Eric', 'Pedro']

z = zip(heros, names)
list(z)

[('Batman', 'Justin'),
 ('Superman', 'Bryan'),
 ('Flash', 'Eric'),
 ('Rorschach', 'Pedro')]

In [55]:
#Zip...create a dict
heros = ['Batman', 'Superman', 'Flash', 'Rorschach']
names = ['Justin', 'Bryan', 'Eric', 'Pedro']

z = zip(heros, names)
dict(z)

{'Batman': 'Justin',
 'Superman': 'Bryan',
 'Flash': 'Eric',
 'Rorschach': 'Pedro'}

In [56]:
#Zip unpack
heros = ['Batman', 'Superman', 'Flash', 'Rorschach']
names = ['Justin', 'Bryan', 'Eric', 'Pedro']

for z1, z2 in zip(heros, names):
    print(z1, z2)

Batman Justin
Superman Bryan
Flash Eric
Rorschach Pedro

In [57]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pride']

# Create a list of tuples: mutant_list
mutant_list = list(mutants)

# Print the list of tuples
print(mutant_list)

# Change the start index
for index2, value2 in enumerate(mutant_list, start = 1):
    print(index2, value2)

['charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pride']
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pride

In [58]:
#Iterating through data chunks
for chunk in pd.read_csv('tweets.csv', chunksize = 10):
    # rest of for loop

SyntaxError: unexpected EOF while parsing (<ipython-input-58-cafd162d96de>, line 3)

# Comprehensions

In [1]:
# Comprehensions allow you to work with iterators and create iterators
# Syntax follows [<returned_exp> for <item> in <iterable>]

# List Comprehenshions
lcomp = [num * 2 for num in range(1, 6)]

# Dict Comprehenshions
dcomp = {letter: num for letter, num in zip('abcdef', range(1, 7))}

# Set Comprehenshions
scomp = {num * 2 for num in [5, 2, 18, 2, 42, 2, 2]}

print(lcomp)
print(dcomp)
print(scomp)

[2, 4, 6, 8, 10]
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{10, 4, 36, 84}

In [ ]:
outer = 'abc'
inner = '123'
[(y, x) for y in outer for x in inner]

In [2]:
num_pairs = [(num1, num2) for num1 in range(0,4) for num2 in range(4, 8)]
print(num_pairs)

[(0, 4), (0, 5), (0, 6), (0, 7), (1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7), (3, 4), (3, 5), (3, 6), (3, 7)]

In [4]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(3)] for row in range(7)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]

In [ ]:
#Conditionals in Comprehenshions Predicate
[num ** 2 for num in range(10) if num % 2 == 0]

In [ ]:
#Dict Comprehenshions
pos_neg = {num : -num for num in range(10)}
print(pos_neg)

In [ ]:
#Conditionals in Comprehenshions Output Expression
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member) >= 7 else "" for member in fellowship]

# Print the new list
print(new_fellowship)

In [ ]:
#Generators
#Same as list, except they produce Generator objects and are computed when needed...not stored in memmory
result = (num for num in range(31))

print(next(result))
print(next(result))

In [ ]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

In [ ]:
#Generator functions are functions that, like generator expressions, yield a series of values, 
#instead of returning a single value.

lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)


for value in get_lengths(lannister):
    print(value)

# Functional Programming

Functional programming involves several principles. Functions should be limited in scope and functionality, no side effects from computation, 
functions are first class citizens, and computation is the evaluation of functions.

In [1]:
# Lists are mutable types, meaning if we call the sort() method on the list, this will alter the list everywhere.
somelist = [5, 3, 4, 1, 2]
somelist.sort()
somelist

[1, 2, 3, 4, 5]

In [2]:
# However the built-in function sorted() will create a copy, sort that copy, and return the copy.
somelist = [5, 3, 4, 1, 2]
sorted(somelist)

[1, 2, 3, 4, 5]

In [3]:
# operator.itemgetter()gets items from an object that supports that operation. We use it to get keys from dicts but it has other uses too.
# operator.attrgetter() gets attributes from an object.

from operator import itemgetter

fruit_list = [
    ('apple', 2),
    ('banana', 5),
    ('coconut', 1),
    ('durian', 3),
    ('elderberries', 4)
]

sorted_fruit = sorted(fruit_list, key=itemgetter(1)) #Sorted by the second item in the tuple
sorted_fruit

[('coconut', 1),
 ('apple', 2),
 ('durian', 3),
 ('elderberries', 4),
 ('banana', 5)]

In [4]:
import datetime
from operator import attrgetter

date_list = [
    datetime.datetime(2015, 4, 29, 10, 15, 39),
    datetime.datetime(2006, 8, 15, 14, 59, 2),
    datetime.datetime(1981, 5, 16, 2, 10, 42),
    datetime.datetime(2012, 8, 9, 14, 59, 2),
]

sorted_dates = sorted(date_list, key=attrgetter('day'))
sorted_dates

[datetime.datetime(2012, 8, 9, 14, 59, 2),
 datetime.datetime(2006, 8, 15, 14, 59, 2),
 datetime.datetime(1981, 5, 16, 2, 10, 42),
 datetime.datetime(2015, 4, 29, 10, 15, 39)]

# Map

Map takes a function and an interable. It applies the function to every element in the iterable, and returns the new iterable.

In [5]:
prices = [10.0, 9.0, 12.0, 13.0, 6.0]

def discount_by_20(val):
    return val*.8

discounted_books = list(map(discount_by_20, prices)) #Don't pass arg into func
discounted_books

[8.0, 7.2, 9.600000000000001, 10.4, 4.800000000000001]

In [6]:
# As a list comprehension 
discounted_books_2 = [discount_by_20(price) for price in prices]
discounted_books_2

[8.0, 7.2, 9.600000000000001, 10.4, 4.800000000000001]

# Filter

Filter() takes a function and an iterable, applies the func to each element in the iterable, and returns a list of all elements that
resulted in a Truth value.

In [7]:
prices = [10.0, 9.0, 12.0, 13.0, 6.0]

def greater_than_ten(someIter):
    return someIter >= 10

list(filter(greater_than_ten, prices))

[10.0, 12.0, 13.0]

In [8]:
# As a list comprehension 
greater_than_10 = [greater_than_ten(price) for price in prices]
print(greater_than_10)

greater_than_10_2 = [price for price in prices if price >= 10]
print(greater_than_10_2)

[True, False, True, True, False]
[10.0, 12.0, 13.0]

# Reduce

Reduce() is iterative takes two arguments. 
On the first iteration it takes the first and second elements of an iterable, applies a function and returns a value. 
On the second iteration, the first argument is the result of the prior iteration and the second argument will be the next element in the 
iterable. This process repeats until it has iterated through all elements and returns the final result. 

Reduce is recursive; meaning a function that calls itself.

In [28]:
from functools import reduce

nums = [1, 2, 3, 4, 5]

def product(x, y):
    return x * y

final_product = reduce(product, nums)
final_product

120

# Recursive in detail

In [29]:
from operator import add

courses = {'count': 2,
           'title': 'Django Basics',
           'prereqs': [{'count': 3,
                     'title': 'Object-Oriented Python',
                     'prereqs': [{'count': 1,
                               'title': 'Python Collections',
                               'prereqs': [{'count':0,
                                         'title': 'Python Basics',
                                         'prereqs': []}]},
                              {'count': 0,
                               'title': 'Python Basics',
                               'prereqs': []},
                              {'count': 0,
                               'title': 'Setting Up a Local Python Environment',
                               'prereqs': []}]},
                     {'count': 0,
                      'title': 'Flask Basics',
                      'prereqs': []}]}

def prereqs(data, pres=None):
    
    pres = pres or set()
    
    # for each prereq in this courses' prereqs...
    for prereq in data['prereqs']:
        
        # add title of this prereq course, then...
        pres.add(prereq['title'])
       
        # use recursive call to find further prerequisites of this course, if any
        prereqs(prereq, pres)
   
    # return current 
    return pres

prereqs(courses)

{'Flask Basics',
 'Object-Oriented Python',
 'Python Basics',
 'Python Collections',
 'Setting Up a Local Python Environment'}

# Lambdas

Lambdas are anonymous fucntions. Lambdas can't contain new lines (outside of containers) or assignments.

In [32]:
lambda x, y: x + y

In [69]:
meals = [
    {'name': 'cheeseburger',
     'calories': 750},
    {'name': 'cobb salad',
     'calories': 250},
    {'name': 'large pizza',
     'calories': 1500},
    {'name': 'burrito',
     'calories': 1050},
    {'name': 'stir fry',
     'calories': 625}
]

high_cal = filter(lambda meal: meal['calories'] > 1000, meals)
list(high_cal)

[{'calories': 1500, 'name': 'large pizza'},
 {'calories': 1050, 'name': 'burrito'}]

In [74]:
from functools import reduce

strings = [
    "Do not take life too seriously. You will never get out of it alive.",
    "My fake plants died because I did not pretend to water them.",
    "A day without sunshine is like, you know, night.",
    "Get your facts first, then you can distort them as you please.",
    "My grandmother started walking five miles a day when she was sixty. She's ninety-seven know and we don't know where she is.",
    "Life is hard. After all, it kills you.",
    "All my life, I always wanted to be somebody. Now I see that I should have been more specific.",
    "Everyone's like, 'overnight sensation.' It's not overnight. It's years of hard work.",
]

longest = reduce(lambda string1, string2: string1 if len(string1) >  len(string2) else string2 , strings)
longest

"My grandmother started walking five miles a day when she was sixty. She's ninety-seven know and we don't know where she is."

# Partials and Currying

Partials allow us to create functions with an incomplete (or partial) list of arguments.
Currying allows us to return an alternate versions of our function, from inside the function based on the number of arguments we passed.

In [68]:
from functools import partial

def multiply(x,y):
        return x * y

# create a new function that multiplies by 2
dbl = partial(multiply,2)
print(dbl(4))

8

# Excersizes

In [ ]:
def word_count(str):
    str = str.lower()
    list = str.split()
    
    dict = {}

    for k in list:
        count = list.count(k)
        dict[k] = count
    
    return dict
    
word_count('I like people, I like pets and I like ice cream')

In [ ]:
teach_dict = {'Andrew Chalkley': ['jQuery Basics', 'Node.js Basics'],
              'Kenneth Love': ['Python Basics'],
              'Peter':['qwe', 'qwee', 'asd']}

def num_teachers(dict):
        return len(dict)

def num_courses(dict):
    array = []
    total = 0
        
    for k in dict:
        array.append(len(dict[k]))
    
    for i in array:
        total+= int(i)
    
    return total

def courses(dict):
    array = []
        
    for k in dict:
        array.extend(dict[k])
    
    return array

def most_courses(dict):
    
    max_val = 0
    max_teacher = 'someone'
    
    for k, v in dict.items():
        if len(v) > max_val:
            max_val = len(v)
            max_teacher = k
        
    return max_teacher

def stats(dict):
    array = []
    
    for k, v, in dict.items():
        array.append([k, len(v)])
        
    return array

In [ ]:
def multiply(*args):
    total = 1
    
    for num in args:
        total *= num
        
    return total

multiply(2, 5, 5, 2)

In [59]:
def stringcases(str):
    a = str.upper()
    b = str.lower()
    c = str.title()
    d = str[::-1]
    
    return a, b, c, d

stringcases('this is a single string')

('THIS IS A SINGLE STRING',
 'this is a single string',
 'This Is A Single String',
 'gnirts elgnis a si siht')

In [60]:
def combo(item1, item2):
    array1 = []
    array2 = []
    
    for v in item1:
        array1.append(v)
    
    for v in item2:
        array2.append(v)
        
    l = zip(array1, array2)
    return list(l)
        
combo('Peter', 'Corre')

[('P', 'C'), ('e', 'o'), ('t', 'r'), ('e', 'r'), ('r', 'e')]

In [61]:
def combo2(item1, item2):
    array = []
    
    for i in range(0, len(item1)):
        array+= (item1[i], item2[i]), #this comma is what creates the tuples within the list
        
    return array

In [62]:
COURSES = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}




def covers(param):
    
    to_set = set(param)
    
    courses = []
    
    for k,i in COURSES.items():
        var = to_set.
        courses.append(var)
    
    return courses

covers('Python')

SyntaxError: invalid syntax (<ipython-input-62-a386d98d929c>, line 27)

In [1]:
COURSES = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}

def covers_all(x):

    x_set = set(x)
    courses_list = []
    print('x_set equals: {} of type: {}'.format(x_set, type(x_set)))
    print(' ')
    
    for course, i in COURSES.items():

        if bool(x_set.issubset(x_set.intersection(COURSES[course]))) == True:
            courses_list.append(course)
    
    return (courses_list) 
    
   
covers_all({"conditions", "input"})

x_set equals: {'conditions', 'input'} of type: <class 'set'>

['Python Basics', 'Ruby Basics']

In [2]:
inner = '123'
outer = 'abc'

var = [(x, y) for x in outer for y in inner]
print(var)

[('a', '1'), ('a', '2'), ('a', '3'), ('b', '1'), ('b', '2'), ('b', '3'), ('c', '1'), ('c', '2'), ('c', '3')]