### Selecting...SELECT, FROM, DISTINCT, COUNT

SELECT column, second_column FROM table
SELECT * FROM table
SELECT DISTINCT column FROM table
SELECT COUNT(*) FROM table #counts all rows
SELECT COUNT(column) FROM table #counts all nonmissing values in column
SELECT COUNT(DISTINCT column) FROM table

### SQL can handle common arithmitic and boolean operations

-+*/
< > <= >= <>


SQL assumes that when you divide an interger by an integer, you want the result as an integter with no remainder.
SQL will output 400 for (45/10 * 100) instead of 450
So make sure at least one of the values is a float to correct get 450 such as 45/10.00 * 100

### Filtering...WHERE, AND, OR, WHERE+BETWEEN, IN, IS NULL, IS NOT NULL, LIKE, NOT LIKE

In [ ]:
SELECT COUNT(*) FROM table WHERE column < 2000
SELECT columns FROM table WHERE (column = 'condition' AND column < condition) OR condition
SELECT columns FROM table WHERE column BETWEEEN condition AND condition
SELECT column FROM table WHERE column IN ('NC-17', 'R')

# Using LIKE, NOT LIKE with % and _ wildcards
SELECT name FROM people WHERE name LIKE 'P%'
SELECT name FROM people WHERE name NOT LIKE 'P%

### Aggregating...AVG, MIN, MAX, SUM...and operations

In [ ]:
SELECT MAX(column) 
FROM table

### Aliasing...AS

In [ ]:
SELECT title, gross_budget AS net_profit 
FROM films

### ORDER BY, GROUP BY, HAVING, LIMIT, DESC

In [ ]:
SELECT name 
FROM people 
ORDER BY name, title DESC

SELECT release_year, country, max(budget) 
FROM films 
GROUP BY release_year, country 
ORDER BY release_year, country

#aggregate functions can't be used in WHERE clauses...thats why we use HAVING
SELECT release_year 
FROM films 
GROUP BY release_year 
HAVING COUNT(title) > 200

SELECT country, avg(budget) AS avg_budget, avg(gross) AS avg_gross
FROM films
GROUP BY country
HAVING (count(country) > 10)
ORDER BY country
LIMIT 5

### Using, CASE, WHEN, THEN, ELSE, and END

In [ ]:
#CASE w/ WHEN, THEN, ELSE, and END
SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000
            THEN 'large'
       WHEN surface_area > 350000
            THEN 'medium'
       ELSE 'small' END
       AS geosize_group
FROM countries;

#INTO to create another table
SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000
            THEN 'large'
       WHEN surface_area > 350000
            THEN 'medium'
       ELSE 'small' END
       AS geosize_group
INTO countries_plus
FROM countries;

### JOINING IN POSTGRESQL...inner joins

In [ ]:
SELECT * FROM left_table 
INNER JOIN right_table 
ON left_table.id = right_table.id
WHERE year = 2015

SELECT c1.name AS city, c2.name AS country 
FROM cities AS c1 
INNER JOIN countries AS c2 
ON c1.country_code = c2.code

##Multiple Tables
SELECT *
FROM left_table
INNER JOIN right_table
ON left_table.id = right_table.id
INNER JOIN table1
ON left_table.id = table1.id;

#Joing via USING when key field is same name
SELECT c.name AS country, continent, l.name AS language, official
FROM countries AS c
INNER JOIN languages AS l
USING (code);

#Self Joins
SELECT p1.country_code, 
       p1.size AS size2010,
       p2.size AS size2015
FROM populations AS p1
INNER JOIN populations AS p2
ON  p1.country_code = p2.country_code
WHERE p1.year = p2.year - 5

### Joins vs Unions

In [ ]:
#Types of Joins
Inner, Left, Right, Full, Self, Cross
#CROSS joins...all possiable combinations...do no use ON or USING

#Types of Unions
Union, Full Union, Intersect, Except

UNIONS only does stacking...does not include a lookup step
UNION = no duplicates
UNION ALL = include duplicates
INTERSECT...using records not key fields...displays matching records found in both columns
EXCEPT...only records that show in left and not right are included

### Semi (subqueries) and Anti Joins

In [ ]:
#Note that semi and anti do no have native SQL syntax
#Semi-Joins...provides records found in the main table that satify the subqueries
#Subqueries can go in SELECT, FROM, or WHERE
#Subqueries must be aliased

SELECT DISTINCT(name) FROM languages
WHERE code IN (SELECT code FROM countries
                WHERE region = 'Middle East')
ORDER BY name


#Anti-Joins...where semi-join condition is not met
SELECT code, name
FROM countries
WHERE continent = 'Oceania' 
AND name NOT IN (SELECT name FROM countries
WHERE continent = 'Oceania')